<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>

  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <userSettings>
    <OCR.Properties.Settings>
      <setting name="TessdataPath" serializeAs="String">
        <value>..\..\tessdata\</value>
      </setting>
      <setting name="Lang" serializeAs="String">
        <value>tha</value>
      </setting>
      <setting name="used" serializeAs="String">
        <value>0</value>
      </setting>
    </OCR.Properties.Settings>
  </userSettings>
</configuration>